<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>CRUD</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home </a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
          </div>
        </div>
      </nav>
    <div class="container mt-5">
        <div class="card">
            <h5 class="card-header">Featured</h5>
           <% if(typeof value==="undefined"){%>
            <div class="card-body">
              <form action="/create" method="post">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Image</label>
                      <input type="text" required name="imageurl" class="form-control" id="inputEmail4" placeholder="Image url">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">title</label>
                      <input type="text" required name="topic" class="form-control" id="inputPassword4" placeholder="title">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Description</label>
                      <textarea class="form-control" required name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </div>
           
                  <div class="form-row">
                   
                    <div class="form-group col-md-4">
                      
                    </div>
                  
                  </div>
                  <div class="form-group">
                    <div class="form-check mt-2">
                      <input class="form-check-input" type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        Check me out
                      </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Post</button>
                </form>
          </div>

           <%}else{%>

            <div class="card-body">
              <form action="/create/<%=value._id%>?_method=PUT" method="post">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Image</label>
                      <input type="text" required name="imageurl" value="<%=value.imageurl %>" class="form-control" id="inputEmail4" placeholder="Image url">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">title</label>
                      <input type="text" required name="topic" value="<%=value.topic%>" class="form-control" id="inputPassword4" placeholder="title">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Description</label>
                      <textarea class="form-control" required value="<%=value.description%>" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </div>
           
                  <div class="form-row">
                   
                    <div class="form-group col-md-4">
                      
                    </div>
                  
                  </div>
                  <div class="form-group">
                    <div class="form-check mt-2">
                      <input class="form-check-input" type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        Check me out
                      </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">update</button>
                </form>
          </div>

          <% } %>
          </div>
          <a  href="/main" class="btn btn-warning mt-2">Back</a>
    </div>
    

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>